@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url('./bg.png');
    background-size: cover;
    overflow: scroll;
}

.root{
    margin: 0;
    display: flex;
    height: 100vh;
}

.a-0{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    
}

.a-0-1{
    transform: rotate(270deg);
    display: flex;


}

.space{
    padding: 0 1rem ;
}

.line{
    border: 1px solid white;
    transform: rotate(270deg);
    margin: 1rem;
    height: 50px;
}

.a1{
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.a1 h1{
    color: white;
    font-size: 2rem;
}

.a1 p{
    color: rgb(231, 231, 231);
}

.a1 a{
    color: orangered;
    text-decoration: none;
}

.a1 button{
    background-color: orangered;
    color: white;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    border: none;
}

.a1 input{
    background-color: transparent;
    border: none;
    padding: 1em 16em 1em 0.5em;
    border-bottom: solid 1px gray;
    color: white;
}

.a1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
}

.a1-1-1{
    display: flex;
}

.a1-1-1 p{
    margin: 0;
}

.a1-2{
    display: flex;
    padding-left: 8rem;
}

.a1-3{
    display: flex;
    padding: 4.5rem 8rem 0 6rem;
}

.a1-3 p{
    margin: 0;
}

/* .b{
    background-image: url('./bg.png');
} */



/* media */
@media only screen and (max-width:1000px){
    body{
        background-image: url('./ipad.png');
    }
    
    .a1{
        grid-template-columns: 1fr;
        height: 80%;
        font-size: x-large;
    }
    
    .a12{
        display: none;
    }

    .a1-3{
        padding: 4.5rem 6rem 0 4rem;
    }

    .a1 h1{
        font-size: 3rem;
    }

    .a1-1{
        padding: 4rem 0;
    }

    .a1 button{
        font-size: x-large;
    }
}

@media only screen and (max-width:750px){
    body{
        background-image: url('./phone.png');
    }
    
    .root{
        grid-template-columns: 1fr;
    }
    .b{
        display: none;
    }

    .a-0{
        display: none;
    }

    .a svg{
        margin: auto;
    }

    .a1{
        padding: 0 1rem;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .a12{
        display: none;
    }

    .a1 input{
        padding-right: 9rem;
    }

    .a1-1{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .a1-1-1{
        justify-content: center;
        padding: 2rem 0;
    }

    .a1-2{
        padding-left: 0;
        justify-content: center;
    }

    .a1-3{
        padding: 3rem 0;
        display: grid;
        text-align: center;
    }
    .img{
        display: flex;
        justify-content: center;
    }
}


    @media only screen and (width:1440px) and (height:900px){
 
        body{
            margin: 0;
            padding: 0;
            font-family: 'Nunito Sans', sans-serif;
            background-image: url('./bg.png');
            overflow: scroll;
            width: 1440px;
            height: 900px;
        
        
        }
        
        .root{
            margin: 0;
            display: flex;
            width: 1440px;
            height: 900px;
        }
        
        .a-0{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95px;
            
        }
        .a1{
            padding: 6rem 4rem;
        }
    }
    @media only screen and (width:1280px) and (height:800px){
 
        body{
            margin: 0;
            padding: 0;
            font-family: 'Nunito Sans', sans-serif;
            background-image: url('./bg.png');
            overflow: scroll;
            width: 1280px;
            height: 800px;
        
        
        }
        
        .root{
            margin: 0;
            display: flex;
            width: 1280px;
            height: 800px;
        }
        
        .a-0{
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95px;
            
        }
        .a1{
            padding: 4rem 4rem;
        }
        
    }
